/* ===== global styles =====*/

html {
  height: 100%;
}

body {
  height: 100%;

  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  background-color: #181719;
  color: white;
}

.wraper {
  padding-bottom: 100px;
}

@media screen and (min-width: 1700px) {
  .wraper {
    padding-bottom: 900px;
  }
}

* {
/*  box-sizing: border-box; */
  color: white;
}














/* ===== HEADER AND NAVBAR=====*/


/* part 1 - values which are the same for every devices (mobile, tablets, desktops) */

header {
    display: block;
    padding-left: 5%;
    padding-right: 5%;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 8px;
    border: 1px solid white;
    font-size: 14px;
    font-family: 'Crimson Pro';
    font-weight: 200;
    cursor: pointer;
}

.list-item {
  list-style-type: none;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 21px;
}

.list-item a {
  text-decoration: none;
  padding-bottom: 8px;
}

.list-item-active a {
  border-bottom: 2px solid white;
  font-weight: bold;
}





/* part 2 - values for the phones and smaller tablets */

/* classes which are declared only for the phones and smaller tablets */
.menu-icon {
  float: right;
  font-size: 29px;
  cursor: pointer;
  margin-top: 3px;
  right: 27px;
}

.close-icon {
  font-weight: lighter;
  position: absolute;
  top: 18.9px;
  right: 20px;
  font-size: 34px;
  cursor: pointer;
}


/* classes who are already declared, but needs to have different values on phones */


.wraper-active {
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100%;
}

@media screen and (max-width: 700px) {
  header {
    padding-top: 19px;
    padding-bottom: 10px;
  }
  .list-item {
    text-align: center;
    padding: 15px;
  }
  .element--hidden {
    display: none !important;
  }
}

/* part 3 - values for the bigger tablets  */

/* 3.1 -  hide items which should not be displayd on tablets / pcs */

@media screen and (min-width: 701px)  {
  header {
    padding-top: 30px;
    margin-bottom: 50px;
  }
  .menu-icon, .close-icon {
    display: none !important;
  }
  .list-item {
    display: inline-block;
    float: right;
    padding-left: 40px
  }
}

/* part 4 - values for desktops */


@media screen and (min-width: 1201px)  {
  header {
    padding-top: 46px;
    margin-bottom: 150px;
  }
  .menu-icon {
    display: none !important;
  }
  .list-item {
    padding-left: 80px
  }
}
















/* layout */
main {
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
}

/* =====
text part
=====*/


.title {
  margin-top: 0px;
  font-weight: 500;
  font-family: 'Lora', serif;
}

.description {
  font-family: 'Montserrat', sans-serif;
}

.readmore-text {
  margin-right: 6px;
  font-family: 'Lora', serif;
  font-weight: 700;
  cursor: pointer;
}

.readmore-text, .readmore-icon {
  display: inline-block;
}



@media screen and (max-width: 700px) {
  .title {
    margin-top: 10px;
    font-size: 2.25em; /* 36 / 16 */
  }
  .description {
    font-size: 0.875em; //* 14 / 16 */
  }
  .readmore {
    font-size: 0.875em; //* 14 / 16 */
    margin-bottom: 22px;
  }
}

@media screen and (min-width: 701px) and (max-width: 1200px)  {
  .main--text {
    margin-bottom: 30px;
  }
  .title {
    margin-top: 15px;
    font-size: 3em; /* 36 / 16 */
  }
  .description {
    font-size: 1.2em; //* 14 / 16 */
  }
  .readmore {
    font-size: 1.2em; //* 14 / 16 */
    margin-bottom: 22px;
  }
}

@media screen and (min-width: 1201px) {
  .main--text {
    display: inline-block;
    width: 35%;
    position: absolute;
    top: 120px !important;
  }
  .title {
    /* font-size: 48px; */
    font-size: 3em;
  }
  .description {
    font-size: 1.5em;
  }
  .readmore {
    font-size: 1.125em;
  }
}






/* =====
image part
=====*/


.big-photo {
  max-width: 100%;
}

.card {
  padding: 5%;
  padding-bottom: 25px;
  background-color: #181719;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
}

@media screen and (max-width: 400px) {
  .card {
    right: unset;
  }
}

@media screen and (max-width: 1200px) {
  .card {
    max-width: 300px;
    height: 138px;
    bottom: -82px;
    right: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    bottom: -102px;
    right: 40px;
  }
}


.avatar-photo, .avatar-info {
  display: inline-block;
}

.avatar-photo {
  width: 62px;
  margin-right: 20px;
  border-radius: 50%;
}

.avatar-info {
  position: absolute;
  top: 30px;
  width: 150px;
}

.avatar-info p {
  margin: 0px;
  margin-bottom: 5.85px;
}


.name, .job-title {
  font-family: 'Montserrat', sans-serif;
}


.job-title {
  color: #828282;
}

.designed-by {
  font-family: 'Lora', serif;
  font-weight: 700;
}

@media screen and (max-width: 1200px) {
  .name {
    font-size: 0.875em;
  }
  .job-title {
    font-size: 0.75em;
  }
  .designed-by {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1200px) {
  .main--img {
    width: 59%;
    margin-left: 5%;
    display: inline-block;
    position: absolute;
    right: 0
  }
}


/* =====
footer
=====*/

footer {
  margin-top: auto;

  display: block;
  width: 100%;

  text-align: center;
  font-size: 0.875em;
  font-style: 'Montserrat';
  font-weight: 700;
  color: #BDBDBD;
}


.padding-bottom-0 {
  padding-bottom: 0 !important;
}
