/* ===== global styles =====*/

body {
    margin: 0;
    padding: 0;
    background-color: #181719;
    color: white;
}

body * {
  box-sizing: border-box;
  color: white;
}













/* ===== NAVBAR=====*/

header {
    display: block;
    background-color: orange;
}

header::after {
    content: '';
    display: table;
    clear: both;
  }




.logo {
    float: left;
    padding: 8px;
    border: 1px solid white;
    font-size: 14px;
    font-family: 'Crimson Pro';
    font-weight: 200;
    cursor: pointer;
}

.fa-bars {
  float: right;
}

.hidden {
  display: none;
}

.nav-list-item {
  list-style-type: none;
}

.nav-list-item a {
  font-size: 21px;
  text-decoration: none;
  font-family: 'Montserrat';
}

.nav-list-item-active {
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .menu-icon {
    font-size: 28px;
  }
  header {
    padding-top: 19px;
    padding-left: 12px;
    padding-right: 12.5px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fa-window-close {
    position: absolute;
    top: 7.9px;
    right: 7.9px;
    font-size: 30px;
    cursor: pointer;
  }
  html, body {
    height: 100%;
  }
  .nav-list-item {
    text-align: center;
    padding: 15px;
  }
  .header-active {
    height: 100%;
  }
}

@media screen and (max-width: 1200px) and (min-width: 601px) {

}

@media screen and (min-width: 1200px) {

}


















/* =====
main
=====*/

main {
    display: block;
}


/* =====
text part
=====*/

.main--text {

}


/* =====
image part
=====*/

.main--img {

}

/* =====
make it responsive
=====*/


@media screen and (max-width: 600px) {

}

@media screen and (max-width: 1200px) and (min-width: 601px) {

}

@media screen and (min-width: 1200px) {

}
